<div id="elevator-table"
     hx-get="/elevator-table"
     hx-trigger="every 2s"
     hx-swap="outerHTML">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Current Floor</th>
                <th>Status</th>
                <th>Door</th>
                <th>Destinations</th>
            </tr>
        </thead>
        <tbody>
        {% for elevator in elevators %}
            <tr>
                <td>{{ elevator.id }}</td>
                <td>{{ elevator.current_floor }}</td>
                <td>
                  {% if elevator.status == 'idle' %}🟢 Idle
                  {% elif elevator.status == 'moving_up' %}🔼 Moving Up
                  {% elif elevator.status == 'moving_down' %}🔽 Moving Down
                  {% endif %}
                </td>
                <td class="door-cell {% if elevator.door_status=='open' %}open{% else %}closed{% endif %}">
                  <span class="door-status">
                    {% if elevator.door_status=='open' %}🚪 Open{% else %}🚪 Closed{% endif %}
                  </span>
                </td>
                <td>{{ elevator.destinations | join(", ") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
